.avatar_container {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 33%;
    margin-bottom: 20px;
}

.greet {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* text */

    color: #212121;
}

.avatar_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.02em;

    /* text */

    color: #212121;
}

.greetings {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}
