.toolbarFooter {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.chipFooter {
    width: 40vw;
    height: 50px;
    font-size: 1.2rem !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    .chipFooter{
        font-size: .9rem !important;
        width: 60vw !important;
    }
    
}